.u-contentPadding {
  padding-bottom: 100px;
}

.u-search-box {
  border: 0 none;
  font: bold 20px Arial, Helvetica, Sans-serif;
  color: #777;
  height: 50px;
  width: 1200px;
  padding: 6px 15px 6px 35px;
}

.warning-message {
  margin-bottom: 10px;
}

.u-icon-md-14 { font-size: 14px; }
