{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-selector-bem-pattern"
  ],
  "rules": {
    "plugin/selector-bem-pattern": {
      "preset": "suit",
      "componentName": "[-a-z]+",
      "componentSelectors": "^(\\.{componentName}|&\\.is)(?:-[-a-z]+)?$",
      "utilitySelectors": "^\\.u-[a-z]+$"
    },
    "selector-type-no-unknown": null,
    "color-hex-case": null,
    "shorthand-property-no-redundant-values": null,

    "function-url-quotes": "always",
    "string-quotes": "double",
    "max-empty-lines": 1,
    "max-nesting-depth": 2,
    "selector-max-compound-selectors": 3,

    "at-rule-no-vendor-prefix": true,
    "media-feature-name-no-vendor-prefix": true,
    "property-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "value-no-vendor-prefix": true,

  }
}
